@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 17 64% 94%;
    --subdued: 17 48% 90%;
    --foreground: 240 10% 8.9%;

    --card: 17 64% 96%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 250 23% 22%;
    --primary-foreground: 0 0% 98%;

    --secondary: 17 24% 85%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 17 54% 99%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 17 34% 96%;
    --accent-foreground: 240 10% 8.9%;

    --success: 129 50% 40%;
    --success-foreground: 240 10% 8.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 62% 90%;
    --input: 17 62% 91%;
    --ring: 17 62% 91%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 260 4% 9%;
    --subdued: 260 4% 7.37%;
    --foreground: 0 0% 98%;

    --card: 260 4% 12.7%;
    --card-foreground: 0 0% 98%;

    --popover: 260 5% 17%;
    --popover-foreground: 0 0% 98%;

    --primary: 250 100% 62%;
    --primary-foreground: 0 0% 98%;

    --secondary: 260 8% 18.7%;
    --secondary-foreground: 0 0% 98%;

    --muted: 260 3.7% 20%;
    --muted-foreground: 260 5% 64.9%;

    --accent: 18 5% 23%;
    --accent-foreground: 0 0% 98%;

    --success: 129 90% 78%;
    --success-foreground: 240 10% 8.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 18 5% 18%;
    --input: 260 3.7% 15.9%;
    --ring: 18 2% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
  }
}